<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <append>true</append>
        <Encoding>UTF-8</Encoding>
        <target>System.out</target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} |-%-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>
    -->

    <!--time rolling log-->
    <appender name="time-rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <File>/home/jingxc/log/smc-base-server.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>/home/jingxc/log//logbak/smc-base-server.log_%d{yyyy-MM-dd}_log.zip</FileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} |-%-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>

    <!--fix size log-->
    <!--
    <appender name="fixed-rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${server_log_home}/${server_name}.log</File>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${server_log_home}/logbak/${server_name}_log_%i.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>512MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} |-%-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>
    -->

    <!--
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <File>${server_log_home}/${server_name}.log</File>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} |-%-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>
    -->

    <!--async append log-->
    <appender name="asynAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="time-rolling"/>
    </appender>

    <root>
        <appender-ref ref="asynAppender"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </root>
</configuration>